.table
    margin-top: 50px
    width: 100%
    thead
        color: var(--Gray, #6D717F)
        th

    tbody
        font-weight: 600
        tr
            td
                &:nth-child(1)
                    width: 40%
                &:nth-child(2)
                    width: 40%
                    input
                        width: 100%
                        padding: 13px 8px
                &:nth-child(3)
                    width: 20%
                    img
                        display: block
                        margin: auto
                        cursor: pointer

.levelInput
    appearance: none
    border: 1px solid #ccc
    border-radius: 4px
    padding: 10px
    width: 100%

.deleteIcon
    cursor: pointer

.btnSave
    border-radius: 2px
    background: var(--Blue, #3265B1)
    width: 206px
    padding: 12px 16px
    color: white
    border: 0
    cursor: pointer
    margin-top: 200px
    margin-left: 300px
