.inputWrapper
    margin-bottom: 10px
    display: flex
    align-items: center

    .input
        padding: 13px
        margin-right: 20px
        width: 316px

    .label
        margin-bottom: 5px

    .delete
        display: flex
        cursor: pointer

    .error
        margin-left: 20px
        color: red
